
svg {
  /* bl.ocks.org defaults to 960px by 500px */
  width: 960px;
  height: 500px;

  background-color: whitesmoke;
  border: 1px solid lightgrey;
}

#background {
  fill: white;
}

.cell {
  stroke-width: 1px;
}

.axis path,
.axis line {
  stroke: none;
  fill: none;
}

.axis text {
  fill: dimgrey;
  font-size: 9px;
}

body {
  font-family: sans-serif;
  font-size: 15px;

}
/* table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
} */


rect.bar {
  stroke: none;
  fill: #83CAD8;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

/* 13. Basic Styling with CSS */
#x-axis text,
#y-axis text {
  font-family: 'Sans-Serif', sans-serif;
  font-size: 9pt;
  fill: #888888;
}

#x-axis line {
  font-family: 'Sans-Serif', sans-serif;
  /* tick marks */
  fill: none;
  stroke: none;
}

#x-axis path,
#y-axis path,
#y-axis line {
  font-family: 'Sans-Serif', sans-serif;
  fill: none;

  stroke: #bbbbbb;
  stroke-width: 1px;
}
